/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Homeworlds implementation : © <Jonathan Baker> <babamots@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * homeworlds.css
 *
 * Homeworlds stylesheet
 *
 */

#HWboard{
    /* Board margin-right makes space for bank */
    margin-right:310px;
    /* height:1000px; */
    /*background:rgba(255,255,255,0.3);*/
}
#HWbank{
    /*
    Bank must not have default position type (static)
    or its width/height can't be used for relative sizes of stacks
    */
    position:relative;
    width:200px;
    height:600px;
    float:right;
    background:rgba(0,0,0,0.3);
}
/* A stack is a place for identical pieces in the bank */
.HWstack{
    display:inline-block;
    position:absolute;
    width:33.3%;
    height:25%;
}
/* Make pieces in the stack higher the more children there are */
.HWstack>*{
    position:absolute;
}
.HWstack>*:nth-child(1){
    bottom:0px;
}
.HWstack>*:nth-child(2){
    bottom:20px;
}
.HWstack>*:nth-child(3){
    bottom:40px;
}

/********
 Systems
********/
.HWsystem{
    border:2px solid black;
    display:inline-block;
    margin:5px;
}
/* A homeworld system with a non-none homeplayer_id attribute*/
.HWsystem:not([homeplayer_id=none]){
    border:2px dashed black;
}
/*
A dummy div so that the system container can be centered
and rows of same-sized systems are created
*/
.HWcenterizer{
    text-align:center;
    display:block;
}
/* A centered, collection-fitting container for same-sized systems */
.HWsystem_container{
    display:inline-block;
}

/* All pieces use the same sprite background */
.HWship,.HWstar,.HWbanked {
    background-image:url('img/sprites.png');
    background-repeat:no-repeat;
    display:inline-block;
    background-size:145px 600px;
}
.HWship,.HWstar{
    /*position:relative;*/
    transition:.5s;
}

.HWstar_container{
    display:inline-block;
    text-align:center;
}
.HWsystem_label{
    float:bottom;
}

/*
The background image has every piece sprite.
This section sets the vertical background offset by piece color and orientation.
*/
.HWred.ship,.HWred.HWbanked{
    background-position-y:-0px
}
.HWred.HWstar{
    background-position-y:-95px
}
.HWyellow.HWship,.HWyellow.HWbanked{
    background-position-y:-150px
}
.HWyellow.HWstar{
    background-position-y:-245px
}
.HWgreen.HWship,.HWgreen.HWbanked{
    background-position-y:-300px
}
.HWgreen.HWstar{
    background-position-y:-395px
}
.HWblue.HWship,.HWblue.HWbanked{
    background-position-y:-450px
}
.HWblue.HWstar{
    background-position-y:-545px
}

/* Horizontal offset by and width depend on piece size. */
.HWlarge{
    background-position-x:-0px;
    width:56px;
}
.HWmedium{
    background-position-x:-56px;
    width:52px;
}
.HWsmall{
    background-position-x:-108px;
    width:42px;
}

/* For now, height only depends on whether the piece is standing. */
.HWship{
    transform:rotate(var(--rotateAmount));
}
.HWstar{
    /* height:110px; original height */
    height:55px;
    --rotateAmount:0deg;
}

/*
Ships and systems can be friendly or hostile.
These terms will need to be generalized if 3+ player is implemented.
*/
.HWhostile{
    float:left;
}
.HWhostile.HWship{
    --rotateAmount:180deg;
}
.HWfriendly{
    float:right;
}
.HWfriendly.HWship{
    --rotateAmount:0deg;
}

/* Banked pieces have the height of ships and point up. */
.HWship,.HWbanked{
    height:95px;
}
/* I'm hoping for pieces centered in their stacks */
.HWbanked{
    margin:auto
}
.HWselectable{
    cursor:pointer;
}
.HWselectable.HWship:hover,.HWselectable.HWstar:hover{
    transform:translate(0px,-10px) rotate(var(--rotateAmount));
}

.HWselectable.HWstack,.HWselectable.HWsystem{
    background-color:rgba(255,255,255,0.3);
}
.HWselectable.HWstack:hover,.HWselectable.HWsystem:hover{
    background-color:rgba(255,255,255,0.6);
}
.HWhostile.HWship.HWselectable{
    /* Reverse the shadow for hostile ships since they're rotated */
    filter:drop-shadow(-15px 15px 10px black);
}
.HWselectable.HWship.HWfriendly:not([activate]),.HWselectable.HWstar{
    /* TODO try box-shadow */
    filter:drop-shadow(15px -15px 10px black);
}
/* Use a custom "activate" attribute to highlight with power color */
[activate=pending]{
    filter:drop-shadow(15px -15px 10px indigo);
}
[activate=sacrifice]{
    width:0px;
}
[activate='1']{
    filter:drop-shadow(15px -15px 10px red);
}
[activate='2']{
    filter:drop-shadow(15px -15px 10px yellow);
}
[activate='3']{
    filter:drop-shadow(15px -15px 10px green);
}
[activate='4']{
    filter:drop-shadow(15px -15px 10px blue);
}

/*
Borrowed from
https://www.kirupa.com/snippets/getting_jittery_on_hover_using_only_css.htm
*/
.HWoverpopulated {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: jittery;
}
 
@keyframes jittery {
    10% {
        transform: rotate(var(--rotateAmount)) translate(-2px, -3px) scale(1.01, 1.01);
    }
    20% {
        transform: rotate(var(--rotateAmount)) translate(3px, 2px) scale(.99, .99);
    }
    30% {
        transform: rotate(var(--rotateAmount)) translate(-4px, -5px) scale(1.01, 1.01);
    }
    40% {
        transform: rotate(var(--rotateAmount)) translate(2px, 3px) scale(1, 1);
    }
    50% {
        transform: rotate(var(--rotateAmount)) translate(-1px, -2px) scale(.98, .98);
    }
    60% {
        transform: rotate(var(--rotateAmount)) translate(0px, 3px) scale(1.02, 1.02);
    }
    70% {
        transform: rotate(var(--rotateAmount)) translate(-2px, -4px) scale(1, 1);
    }
    80% {
        transform: rotate(var(--rotateAmount)) translate(3px, 5px) scale(.99, .99);
    }
    90% {
        transform: rotate(var(--rotateAmount)) translate(-5px, -3px) scale(1.1, 1.1);
    }
    100% {
        transform: rotate(var(--rotateAmount)) translate(3px, 1px) scale(.95, .95);
    }
}

